<footer class="container">
  <div class="container__social-media">
    <div class="icon">
      <a
        href="https://twitter.com/sircferrer"
        target="_blank"
        class="link twitter"
      >
        <i class="fab fa-twitter"></i
      ></a>
    </div>
    <div class="icon">
      <a
        href="https://github.com/SircFerrer"
        target="_blank"
        class="link github"
      >
        <i class="fab fa-github-square"></i>
      </a>
    </div>
    <div class="icon">
      <a
        href="https://www.linkedin.com/in/cristinaferrercarballo/"
        target="_blank"
        class="link linkedin"
      >
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
  </div>
  <div class="container__description">
    <p>Portafolio de Cristina Ferrer Carballo</p>
  </div>
</footer>
