<section class="grid" id="grid">
  <div class="grid__item">
    <div class="grid__item__content">
      <img
        class="grid__item__content__img"
        src="../assets/images/barcelona.jpg"
        alt="Barcelona"
      />
      <img
        class="grid__item__content__img"
        src="../assets/images/barcelona.jpg"
        alt="Barcelona"
      />
      <img
        class="grid__item__content__img"
        src="../assets/images/barcelona.jpg"
        alt="Barcelona"
      />
    </div>
  </div>
</section>
