<section class="grid" id="grid">
  <div
    class="grid__item"
    data-category="Lugares"
    data-labels="lugares bicis barcelona"
    data-description="Barcelona, mi ciudad natal, mis recuerdos se mezclan entre el sonido del mar y los paseos en bici con mi yayo"
  >
    <div class="grid__item__content">
      <img
        class="grid__item__content__img"
        src="../assets/images/barcelona.jpg"
        alt="Barcelona"
      />
    </div>
  </div>
  <div
    class="grid__item"
    data-category="Lugares"
    data-labels="lugares colores bogota"
    data-description="Bogotá, ciudad de colores, música y alegria. Durante 4 años pude vivir en esta preciosa ciudad"
  >
    <div class="grid__item__content">
      <img
        class="grid__item__content__img"
        src="../assets/images/bogota.jpg"
        alt="Bogotá"
      />
    </div>
  </div>
  <div
    class="grid__item"
    data-category="Trabajo"
    data-labels="trabajo frontEnd adalab desarrollo"
    data-description="Adalab, me ha permitido reinventarme como desarrolladora front-end, ahora estoy buscando una oportunidad laboral"
  >
    <div class="grid__item__content">
      <img
        class="grid__item__content__img"
        src="../assets/images/developer.jpg"
        alt="Desarrolladora"
      />
    </div>
  </div>

  <div
    class="grid__item"
    data-category="Familia"
    data-labels="familia amor hijo vida"
    data-description="Mi familia me completa y llena mis días de risas, esfuerzo y superación"
  >
    <div class="grid__item__content">
      <img
        class="grid__item__content__img"
        src="../assets/images/family.jpg"
        alt="Familia"
      />
    </div>
  </div>
  <div
    class="grid__item"
    data-category="Lugares"
    data-labels="lugares lima amor familia"
    data-description="Perú me permitió conocer el amor y traerme una parte de su color, fuerza y amor para formar mi familia"
  >
    <div class="grid__item__content">
      <img
        class="grid__item__content__img"
        src="../assets/images/peru.jpg"
        alt="Perú"
      />
    </div>
  </div>
  <div
    class="grid__item"
    data-category="Lugares"
    data-labels="lugares colegio naturaleza nieve"
    data-description="Princeton, fue una ciudad donde pude conocer gente de todo el mundo, fui muy feliz y tuve la oportunidad de vivir mi propia película americana"
  >
    <div class="grid__item__content">
      <img
        class="grid__item__content__img"
        src="../assets/images/princeton.jpg"
        alt="Princeton"
      />
    </div>
  </div>
  <div
    class="grid__item"
    data-category="Trabajo"
    data-labels="trabajo consultora público"
    data-description="He tenido la suerte de trabajar en PwC y en KPMG como consultora del sector público"
  >
    <div class="grid__item__content">
      <img
        class="grid__item__content__img"
        src="../assets/images/torres.jpg"
        alt="Torres"
      />
    </div>
  </div>

  <div
    class="grid__item"
    data-category="Universidad"
    data-labels="universidad estudios políticas"
    data-description="Licenciada en Ciencias Políticas por la Universidad Complutense de Madrid"
  >
    <div class="grid__item__content">
      <img
        class="grid__item__content__img"
        src="../assets/images/uni.jpg"
        alt="Universidad"
      />
    </div>
  </div>
</section>
