<header class="header">
  <div class="header__logo">
    <h1 class="header__title">Cristina Ferrer Carballo</h1>
    <p class="header__subtitle">Desarrolladora Front End</p>
  </div>
  <form class="header__search" action="">
    <input
      type="text"
      class="header__search__menu"
      id="searchMenu"
      placeholder="Buscar"
    />
  </form>
  <div class="header__options" id="header__options">
    <a href="#" class="active">Todos</a>
    <a href="#">Desarrolladora Front End</a>
    <a href="#">Consultora</a>
    <a href="#">Familia</a>
    <a href="#">Lugares</a>
  </div>
</header>
