html {
  font-size: 62.5%;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: #f3f3f3;
  // background-image: url("../../images/barcelona_opt.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  font-family: "Open Sans", sans-serif;
}
.active {
  color: #000;
}
